<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog | Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- Include Font Awesome CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      #intro {
          /* Margin to fix overlapping fixed navbar */
          margin-top: 58px;
          background-image: url('/images/banner.jpg');
          background-size: cover;
          background-position: center;
          color: white;
      }

      @media (max-width: 991px) {
          #intro {
              /* Margin to fix overlapping fixed navbar */
              margin-top: 45px;
          }
      }

      .bg-opacity {
          background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
          padding: 5rem;
      }
  </style>
  </head>
  <body>
    <%- include("navbar") %>
      <h5 class="text-center" style="color: burlywood;"><%= login %></h5>
    <header>
      <!-- Jumbotron -->
      <div id="intro" class="p-5 text-center bg-light">
        <div class="bg-opacity">
            <h1 class="mb-3 h2">"Think. Write. Inspire."</h1>
            <p class="mb-3">Join us on a journey of discovery and creativity.</p>
            <a class="btn btn-outline-light m-2 " href="/register" role="button" rel="nofollow" data-mdb-ripple-init>Register Now</a>
            <a class="btn btn-outline-light m-2 " href="/login"  data-mdb-ripple-init role="button">Login</a>
        </div>
    </div>
      <!-- Jumbotron -->
    </header>

       <!--Main layout-->
       <main class="my-5">
        <div class="container">
          <!--Section: Content-->
          <section class="text-center">
            <h4 class="mb-5"><strong>Latest posts</strong></h4>
            <%
              function truncate(str, n) {
                return (str.length > n) ? str.substr(0, n-1) + '...' : str;
              }
            %>
            <div class="row">
              <% blogs.forEach((blog, index) => { %>
                <div class="col-lg-4 col-md-12 mb-4">
                  <div class="card">
                    <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                      <img src="<%= blog.image %>" class="img-fluid" style="width: 100%; height: 250px;" />
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </a>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title"><%= blog.title %></h4>
                      <h5 class="card-title"><%= truncate(blog.subTitle, 35) %></h5>
                      <p class="card-text"><%= truncate(blog.content, 100) %></p>
                      <p class="card-text">Author: <%= blog.user.username %></p>
                      <a href="/blog/<%= blog.id %>" class="btn btn-primary" data-mdb-ripple-init>Read</a>
                    </div>
                  </div>
                </div>
                <% if ((index + 1) % 3 === 0) { %>
                  </div><div class="row">
                <% } %>
              <% }) %>
            </div>
          </section>
          <!--Section: Content-->
        </div>
      </main>
      

  



  
    <%- include("footer") %>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"  crossorigin="anonymous"></script>
  </body>
</html>
